<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <style>
        p, span{
            font-family: 'Open Sans Condensed', sans-serif;
        }
        .about{
            font-family: 'Amatic SC', cursive;   
        }
    </style>
</head>

<body>

<div class="col-md-12">
    <section id="desc">
        <div class="col-md-3">
            <img class="img-circle" src="images/me.png" style="width:90%; height:90%; z-index:100;">
        </div>
        <div class="container" style="padding-top:30px;">
            <div class="row col-md-9">
                <h3><p id="about"><b>About Cecilia</b></p></h3>
                <hr>
                <p>Hello my name is Cecilia Tran.  I am a senior undergrad majoring in software engineering with a focus in web and mobile programming, art and food.<br />
                I love playing lots of games and designing which took me into this field. I have a passion for games, animation, puzzles and designing.<br />
                Located in San Jose, currently freelancing, I currently draw and make games on my free time besides school.                     
                </p>
            </div>
            <hr>
        </div>
    </section>
    <br><br>
    <section id="lang">
        <div class="col-md-3"></div>
        <div class="container">
            <div class="col-md-4">
                <strong style="font-size:14px;">Languages: </strong><br />
                <span> HTML, HTML5, CSS, Javascript (Node.js, Angular.js, Express.js), Python, MongoDB, Oracle SQl, TCL</span><br /><br />
                <span>English, Cantonese Chinese, French, Vietnamese</span><br /><br />
            </div>
            <div class="col-md-5">
                <strong style="font-size:14px;">Work Experience:</strong><br />
                <strong>→ </strong>
                <span><b>Insane Ink (2012) :</b> Graphic Designer and Web Developer :<br />&nbsp; &nbsp; &nbsp;@ Piedmont Hills High School</span><br />
                
                <strong>→ </strong>
                <span><b>City of San Jose Fleet and Tech Services(2015 - 2016) :</b> Junior Systems Analyst <br />&nbsp; &nbsp; &nbsp;@ City of San Jose</span>
                <br />
                
                <strong>→ </strong>
                <span><b>CISCO (2016) :</b> Hardware QA Crossfunctional Engineering Intern <br />&nbsp; &nbsp; &nbsp;@ CISCO</span>
                <br />
            </div>
        </div>
    </section>
    <br><br>
    <section id="icons">
        <div class="col-md-3"></div>
        <div class="container">
            <div class="col-md-6">
                <strong style="font-size:14px;">Tools of trade:&nbsp;</strong><br />
                <strong>→ </strong>
                <span style="line-height: 23.3999996185303px; background-color: initial;"> Windows, Mac, Linux</span><br />
                <strong>→ </strong>
                <span style="line-height: 23.3999996185303px; background-color: initial;"> Eclipse, Brackets, Git, Netbeans, Unity, Dropbox</span><br />
                <span style="line-height: 23.3999996185303px; background-color: initial;">
                    <strong>→ </strong>&nbsp;Microsoft Word, Excel, Project, Crystal Reports, Oracle SQL Developer</span><br />
                <span style="line-height: 23.3999996185303px; background-color: initial;">
                    <strong>→ </strong> Photoshop CS 6, Paint Tool SAI, After Effects, MAYA</span><br />
                <span style="line-height: 23.3999996185303px; background-color: initial;">
                    <strong>→ </strong> Watercolor, Gouache, Pencil, Pen, Copic markers, Charcoal</span><br /><br />
            </div>
        </div>
            <img class="3" id="cat" src="images/cat.png" style="float: right; height:20%; width:20%;">
    </section>
</div>
    <br>
    <br>
</body>