<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <style>
        p{
            font-family: 'Open Sans Condensed', sans-serif;
        }
        .about{
            font-family: 'Amatic SC', cursive;   
        }
    </style>
</head>

<body>
<div class="col-md-2">
    <img src="http://i66.tinypic.com/4rb9xg.png" height="300px" width="100px">
</div>

<div class="col-md-10">
    <section id="desc" style="height:350px;">
        <div class="container">
            <div class="row">
                <h3><p id="about"><b>About Cecilia</b></p></h3>
                <p>Hello my name is Cecilia Tran.  I am a senior undergrad majoring in software engineering with a focus in web and mobile programming, art and food.<br />
                I love playing lots of games and designing which took me into this field. I have a passion for games, animation, puzzles and designing.<br />
                Located in San Jose, currently freelancing, I currently draw and make games on my free time besides school.                     
                </p>
            </div>
        </div>
    </section>
    <section id="contact" style="height:350px; padding-top:25px;">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </section>
    <section id="contact" style="height:350px; padding-top:25px;">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </section>
</div>
</body>