<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="description" content="description">
<title>CECI</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <style> 

    p{ 
        font-family: 'Open Sans Condensed', sans-serif;
    }

    </style>
</head>
    
<body>

    <div class="col-md-12">
        <center>
        <a href ="https://instagram.com/ichiknees/">
            <img src="images/instacookie.png" style="width: 20%; height: 10%; padding-left:15px; padding-top:10px; padding-right: 15px;">
        </a>
        <a href ="https://www.linkedin.com/pub/cecilia-tran/98/750/98b">
            <img src="images/linkincookie.png" style="width: 20%; height: 10%; padding-left:15px; padding-right: 15px;">
        </a>
        </center>
    </div>
    <hr>
    <div class="col-md-12" style="padding-top:20px;">
        <center>
            <p>Contact me by email?</p>  
            <p>cecitran94@gmail.com</p> 
            <p>Cecilia.tran@sjsu.edu</p>
            <p>All Art (c) Cecilia Tran</p>
        </center>
    </div>

    
</body>
</html>