
<head>
    <link rel="stylesheet" href="styles/threeprac.css">
    <script src="js/threeprac.js"></script>
</head>

<body>
        <script>
        function play(){
           var audio = document.getElementById("#egg");
           audio.play();
        }
        var audio = $(".audio")[0];
        $("#egg")
            .mouseenter(function() {
                audio.play();
            });
   </script>
    <audio id="audio" preload="auto">
        <source src="ukulele.mp3" controls></source>
    </audio>
    <canvas id="sky"></canvas>
    <div class="egg">
      <div class="chicky">
        <div class="face">
          <div class="eyes"></div>
          <div class="mouth"></div>
        </div>
      </div>
    </div>

</body>