
<head>
    <!--trying mo.js-->
    <script src="//cdn.jsdelivr.net/mojs/latest/mo.min.js"></script>
    <style>
    body {
      background: #3A0839;
      padding: 42px 54px;
    }

    .elem {
      width:         20px;
      height:        20px;
      border-radius: 50%;
      background:    white;
      margin-top:   -10px;
      margin-left:  -10px;
      position:      absolute;
    }
    </style>
</head>

<body>
    <div class="elem" id="js-elem"></div>
    
    <script>
    
    var burst = new Burst({
        radius:   { 15: 50 }
        children: {
          fill:   [ 'deeppink', 'cyan', 'orange' ],
      }
    });
    </script>
</body>